* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    background: #4aaaa5;
}

.clearfix::after {
    content: " ";
    display: inline;
    clear: both;
}

header {
    background: #ffffff;
    border: 2px solid #cccccc;
}

#header {
    float: left;
}

#nav {
    float: right;
}
