* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    background: #4aaaa5;
}

.clearfix::after {
    content: " ";
    display: inline;
    clear: both;
}

header {
    position: absolute;
    background: #ffffff;
    border: 2px solid #cccccc;
    width: 100%;
    top: 0;
}

nav {
    position: absolute;
    right: 0;
}

#header, #nav {
    float: left;
}

a, #firstSep, #secondSep {
    float: left;
}



